<passwords>
    <path>
        <from pathversion="1">smb://laconia/content</from>
        <to pathversion="1">smb://guest:nopassword@laconia/content/Misc Videos/Workout/</to>
    </path>
</passwords>
